n8n_secretario_ia_v2.json
{
  "name": "Secretario-IA-Principal-v2",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "secretario-ia-whatsapp",
        "options": { "allowedOrigins": "*" }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [-600, 300],
      "id": "node01",
      "name": "Webhook Z-API (Secretário)",
      "webhookId": "secretario-ia-whatsapp"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "leftValue": "={{ $json.body.fromMe }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [-350, 300],
      "id": "node02",
      "name": "Ignorar Msgs Próprias"
    },
    {
      "parameters": {
        "model": "llama3-8b-8192",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "Você é um classificador de intenções do WhatsApp da Igreja de Jesus Cristo dos Santos dos Últimos Dias (SUD). Analise a mensagem e retorne SOMENTE um JSON válido com dois campos:\n- 'intencao': pode ser 'agendamento', 'recado_bispado', 'outro'\n- 'recado_bispo': uma frase curta resumindo o recado para o líder (se aplicável), ou null\n\nExemplos:\n- 'Quero marcar com o bispo' -> {\"intencao\": \"agendamento\", \"recado_bispo\": null}\n- 'Me mudei de endereço' -> {\"intencao\": \"recado_bispado\", \"recado_bispo\": \"O membro informou mudança de endereço\"}\n- 'Boa tarde' -> {\"intencao\": \"outro\", \"recado_bispo\": null}\n\nRetorne APENAS o JSON, sem texto adicional."
            },
            {
              "role": "user",
              "content": "={{ $json.body.text.message }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [-100, 300],
      "id": "node03",
      "name": "IA: Classificar Intenção",
      "credentials": { "groqApi": { "id": "1", "name": "Groq account" } }
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.content || $input.first().json.text || '';\ntry {\n  const jsonMatch = raw.match(/\\{[\\s\\S]*\\}/);\n  const parsed = JSON.parse(jsonMatch ? jsonMatch[0] : raw);\n  return [{ json: { intencao: parsed.intencao, recado_bispo: parsed.recado_bispo } }];\n} catch(e) {\n  return [{ json: { intencao: 'outro', recado_bispo: null } }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [150, 300],
      "id": "node04",
      "name": "Parsear JSON da IA"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": { "caseSensitive": true },
                "conditions": [{ "leftValue": "={{ $json.intencao }}", "rightValue": "agendamento", "operator": { "type": "string", "operation": "equals" } }],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "agendamento"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true },
                "conditions": [{ "leftValue": "={{ $json.intencao }}", "rightValue": "recado_bispado", "operator": { "type": "string", "operation": "equals" } }],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "recado"
            }
          ]
        },
        "options": { "fallbackOutput": "extra" }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [400, 300],
      "id": "node05",
      "name": "Roteador (Intenção)"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT lider, data_disponivel::text, hora_inicio::text, hora_fim::text FROM agenda_bispado WHERE disponivel = TRUE AND data_disponivel >= CURRENT_DATE ORDER BY data_disponivel ASC, hora_inicio ASC LIMIT 5;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [650, 150],
      "id": "node06",
      "name": "Buscar Horários Disponíveis",
      "credentials": { "postgres": { "id": "3", "name": "Postgres account 3" } }
    },
    {
      "parameters": {
        "jsCode": "const horarios = $input.all().map(item => {\n  const d = item.json;\n  const liderNome = {Bispo: 'Bispo', '1_conselheiro': '1º Conselheiro', '2_conselheiro': '2º Conselheiro'}[d.lider] || d.lider;\n  const data = d.data_disponivel;\n  const inicio = String(d.hora_inicio).slice(0,5);\n  const fim = String(d.hora_fim).slice(0,5);\n  return `• ${liderNome}: ${data} das ${inicio} às ${fim}`;\n});\nconst texto = horarios.length > 0\n  ? horarios.join('\\n')\n  : 'Nenhum horário disponível no momento.';\nreturn [{ json: { horariosTexto: texto, temHorarios: horarios.length > 0 } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 150],
      "id": "node07",
      "name": "Formatar Horários"
    },
    {
      "parameters": {
        "model": "llama3-8b-8192",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "=Você é o Secretário IA da Ala da Igreja de Jesus Cristo dos Santos dos Últimos Dias. Você é cordial, respeitoso e usa linguagem simples. Seu nome é 'Secretário IA'.\n\nO membro enviou uma mensagem pedindo para marcar uma entrevista com o Bispado.\n\nHorários disponíveis no sistema:\n{{ $json.horariosTexto }}\n\nSe houver horários disponíveis: Sugira o PRIMEIRO horário disponível e pergunte se o membro confirma. Seja breve e cordial.\nSe não houver horários: Informe que não há horários disponíveis no momento e que o Secretário entrará em contato em breve.\n\nNome do membro: {{ $('Webhook Z-API (Secretário)').item.json.body.senderName }}\n\nResponda APENAS a mensagem para o WhatsApp, sem explicações extras. Máximo 3 linhas."
            },
            {
              "role": "user",
              "content": "={{ $('Webhook Z-API (Secretário)').item.json.body.text.message }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [1150, 150],
      "id": "node08",
      "name": "IA: Resposta Agendamento",
      "credentials": { "groqApi": { "id": "1", "name": "Groq account" } }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO entrevistas (membro_nome, assunto, data_agendamento, hora_inicio, hora_fim, lider) SELECT '{{ $('Webhook Z-API (Secretário)').item.json.body.senderName }}', 'Agendamento via IA', data_disponivel, hora_inicio, hora_fim, lider FROM agenda_bispado WHERE disponivel = TRUE AND data_disponivel >= CURRENT_DATE ORDER BY data_disponivel ASC LIMIT 1 RETURNING id;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [1400, 150],
      "id": "node09",
      "name": "Salvar Entrevista",
      "credentials": { "postgres": { "id": "3", "name": "Postgres account 3" } }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3F2F61CB306150004741423ED5B98F9F/token/D00FB2CBCEC59D1A1DFF3037/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Client-Token", "value": "Fc371b3a898d5425585d9e77e49e044eaS" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"phone\": \"{{ $('Webhook Z-API (Secretário)').item.json.body.phone.split('@')[0] }}\",\n  \"message\": \"{{ $('IA: Resposta Agendamento').item.json.content }}\",\n  \"delay\": 1200\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1650, 150],
      "id": "node10",
      "name": "Z-API: Resposta Agendamento"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO mensagens_lideranca (remetente_nome, telefone, mensagem, lider_destino) VALUES ('{{ $('Webhook Z-API (Secretário)').item.json.body.senderName }}', '{{ $('Webhook Z-API (Secretário)').item.json.body.phone.split('@')[0] }}', '{{ $('Webhook Z-API (Secretário)').item.json.body.text.message }}', 'Bispo') RETURNING id;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [650, 450],
      "id": "node11",
      "name": "Salvar Recado no BD",
      "credentials": { "postgres": { "id": "3", "name": "Postgres account 3" } }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3F2F61CB306150004741423ED5B98F9F/token/D00FB2CBCEC59D1A1DFF3037/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Client-Token", "value": "Fc371b3a898d5425585d9e77e49e044eaS" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"phone\": \"{{ $('Webhook Z-API (Secretário)').item.json.body.phone.split('@')[0] }}\",\n  \"message\": \"Irmão(ã) *{{ $('Webhook Z-API (Secretário)').item.json.body.senderName }}*, recebemos o seu recado e já anotamos para o Bispado! 📋\\n\\nAssim que possível, um líder entrará em contato com você. 🙏\",\n  \"delay\": 1200\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 450],
      "id": "node12",
      "name": "Z-API: Confirmar Recado"
    }
  ],
  "connections": {
    "Webhook Z-API (Secretário)": { "main": [[{ "node": "Ignorar Msgs Próprias", "type": "main", "index": 0 }]] },
    "Ignorar Msgs Próprias": { "main": [[{ "node": "IA: Classificar Intenção", "type": "main", "index": 0 }]] },
    "IA: Classificar Intenção": { "main": [[{ "node": "Parsear JSON da IA", "type": "main", "index": 0 }]] },
    "Parsear JSON da IA": { "main": [[{ "node": "Roteador (Intenção)", "type": "main", "index": 0 }]] },
    "Roteador (Intenção)": {
      "main": [
        [{ "node": "Buscar Horários Disponíveis", "type": "main", "index": 0 }],
        [{ "node": "Salvar Recado no BD", "type": "main", "index": 0 }]
      ]
    },
    "Buscar Horários Disponíveis": { "main": [[{ "node": "Formatar Horários", "type": "main", "index": 0 }]] },
    "Formatar Horários": { "main": [[{ "node": "IA: Resposta Agendamento", "type": "main", "index": 0 }]] },
    "IA: Resposta Agendamento": { "main": [[{ "node": "Salvar Entrevista", "type": "main", "index": 0 }]] },
    "Salvar Entrevista": { "main": [[{ "node": "Z-API: Resposta Agendamento", "type": "main", "index": 0 }]] },
    "Salvar Recado no BD": { "main": [[{ "node": "Z-API: Confirmar Recado", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
