Workflow_Secretario_IA.json
{
  "name": "Secretário IA da Ala - Fluxo Principal",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook/secretario-zapi",
        "options": {}
      },
      "id": "1",
      "name": "Webhook Z-API (Secretário)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [200, 300],
      "webhookId": "secretario-webhook-12345"
    },
    {
      "parameters": {
        "model": "llama3-8b-8192",
        "messages": {
          "messageValues": [
            {
              "role": "system",
              "content": "Você é o assistente inteligente do Secretário da Ala. Classifique a intenção do membro na mensagem. Responda APENAS com um JSON neste formato: {\"intencao\": \"agendamento\" | \"atualizacao\" | \"duvida_templo\" | \"recado_bispo\"}"
            },
            {
              "role": "user",
              "content": "={{ $json.body.text.message }}"
            }
          ]
        }
      },
      "id": "2",
      "name": "Groq IA (Classificação)",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ JSON.parse($json.message.content).intencao }}",
        "rules": {
          "rules": [
            {
              "value2": "agendamento",
              "output": 0
            },
            {
              "value2": "atualizacao",
              "output": 1
            },
            {
              "value2": "recado_bispo",
              "output": 2
            }
          ]
        }
      },
      "id": "3",
      "name": "Roteador (Intenção)",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 2,
      "position": [700, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO entrevistas (membro_nome, assunto) VALUES ('{{$json.body.senderName}}', 'Agendamento via IA');"
      },
      "id": "4",
      "name": "Postgres (Salvar Entrevista)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [1000, 150]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO mensagens_lideranca (remetente_nome, telefone, mensagem, lider_destino) VALUES ('{{$json.body.senderName}}', '{{$json.body.phone}}', '{{$json.body.text.message}}', 'Bispo');"
      },
      "id": "5",
      "name": "Postgres (Salvar Recado)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [1000, 450]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/SUA_INSTANCIA/token/SEU_TOKEN/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Token",
              "value": "SEU_CLIENT_TOKEN"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{$json.body.phone}}"
            },
            {
              "name": "message",
              "value": "Irmão, recebi o seu pedido de agendamento com o Bispo. Vou verificar a agenda e te confirmo logo em seguida!"
            }
          ]
        }
      },
      "id": "6",
      "name": "Z-API (Resposta Agendamento)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1250, 150]
    }
  ],
  "connections": {
    "Webhook Z-API (Secretário)": {
      "main": [
        [
          {
            "node": "Groq IA (Classificação)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq IA (Classificação)": {
      "main": [
        [
          {
            "node": "Roteador (Intenção)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Roteador (Intenção)": {
      "main": [
        [
          {
            "node": "Postgres (Salvar Entrevista)",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [
          {
            "node": "Postgres (Salvar Recado)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres (Salvar Entrevista)": {
      "main": [
        [
          {
            "node": "Z-API (Resposta Agendamento)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
